beautifulsoup4
blinker
bs4
certifi
chardet
click
Flask
Flask-Limiter
idna
itsdangerous
Jinja2
limits
MarkupSafe
pymongo
requests
selenium
sentry-sdk
six
soupsieve
undetected-chromedriver
urllib3
websockets
Werkzeug
