<!doctype html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    pre {
      border: 1px solid rgba(0.1, 0.1, 0.1, .1);
      background-color: #FAFAFA;
      font-size: 15px;
      padding: 8px;
    }

    code {
      border: 1px solid rgba(0.1, 0.1, 0.1, .1);
      background-color: #FAFAFA;
      font-size: 14px;
      padding: 1px;
    }

    p {
      font-size: 15px;
    }
  </style>
  <title>Sparky API Documentation</title>
  <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.png') }}" </head>

<body>
  <h2>Upcoming Names</h2>
  <hr>
  </hr>
  <pre>GET https://names.sparky.rip/upcoming?three_letter=&lttrue/false&gt</pre>
  <p>Returns the next <code>50</code> upcoming names. Each <code>name</code> will be returned along with it's <code>searches</code> (pulled from NameMC), it's <code>unixDropTime</code>, and it's <code>utcDropTime</code>.</p>
  <p>If <code>three_letter</code> is set to <code>true</code> only three letter names will be returned.</p>
  <h3>Response</h3>
  <pre>[
    {
        "name": "FailedAnonymous",
        "searches": "0",
        "unixDropTime": "1622932366",
        "utcDropTime": "2021-06-05T22:32:46.000Z"
    },
    {
        "name": "Rev1lo_",
        "searches": "0",
        "unixDropTime": "1622932367",
        "utcDropTime": "2021-06-05T22:32:47.000Z"
    },
    {
        "name": "IDKaIGN",
        "searches": "1",
        "unixDropTime": "1622932374",
        "utcDropTime": "2021-06-05T22:32:54.000Z"
    }
    ...
]</pre>
  <h2>Name Droptime</h2>
  <hr>
  </hr>
  <pre>GET https://names.sparky.rip/droptime/&ltname&gt</pre>
  <p>Returns the droptime of a specified name. Included with <code>name</code> will be <code>unixDropTime</code> and <code>utcDropTime</code>. <b>Only names that are above <code>3 searches</code> and are dropping in the next <code>24 hours</code> can be returned.</b> </p>
  <h3>Response</h3>
  <pre>{
    "name": "657",
    "unixDropTime": "1623236193",
    "utcDropTime": "2021-06-09T10:56:33.000Z"
}</pre>
  <h3>Error Response</h3>
  If the droptime of the specified name cannot be found, the following error will be returned:
  <pre>{
    "error": "INVALID_NAME"
}</pre>
</body>
